In [10]:
import requests
from requests_ntlm import HttpNtlmAuth
import json
import csv
import netrc
import pandas as pd
import numpy as np

In [2]:
# get user / password
host = 'torvmpiis8'
parking_url = 'http://torvmpiis8.na.sas.com/ParkingApp/BookingCalendar/GetBooking'
# Read from the .netrc file in your home directory
secrets = netrc.netrc()
dusername, account, password = secrets.authenticators(host)
#print ("\"" + dusername + "\" \"" + password + "\"")

In [3]:
try:
        bookings = requests.get(parking_url,auth=HttpNtlmAuth(dusername,password))
        bookings.raise_for_status()
except requests.exceptions.HTTPError as err:
        print ("failed to make server connection[parking URL]: " + str(err))
        sys.exit(1)

In [4]:
# parse to json
data = json.loads(bookings.text)
spots = data["BList"]

### Run this one if we want to update the file

In [ ]:
## write to CSV
with open('spots.csv', 'w') as csvfile:
        fieldnames = ['pspot','name','date','bookOrPost','period','spot']
        writer = csv.DictWriter(csvfile, fieldnames=fieldnames, lineterminator='\n')
        writer.writeheader()
        for spot in spots:
                spot['pspot'] = spot['spot'].split(' ')[0]
                spot['name'] = spot['spot'].split(' ')[1]
                spot['period'] = (spot['spot'].split('(')[1]).split(' ')[0]
                writer.writerow(spot)

In [54]:
## Create a lookup table of SpotIds to Names
spot_range = pd.DataFrame(pd.Series(np.arange(1,64)), columns=['SpotId'])
spot_names = pd.read_csv("spot_names.csv", " ")
names['SpotId'] =  names['SpotId'].astype(int)
spot_name_lookup = pd.merge(spot_range,spot_names, how='left', on='SpotId')
spot_name_lookup

    SpotId         Name
0        1          NaN
1        2     Thompson
2        3          NaN
3        4          NaN
4        5          NaN
5        6         Reed
6        7          NaN
7        8        Welsh
8        9       Kelley
9       10          NaN
10      11          NaN
11      12          NaN
12      13          NaN
13      14          NaN
14      15          NaN
15      16         Kwan
16      17      McKenna
17      18       McLean
18      19          NaN
19      20          NaN
20      21          NaN
21      22          NaN
22      23          NaN
23      24       Antram
24      25       Tulley
25      26       Walker
26      27          NaN
27      28          NaN
28      29         Luke
29      30          NaN
..     ...          ...
33      34          NaN
34      35          NaN
35      36     Czarnota
36      37          NaN
37      38          NaN
38      39        Derry
39      40          NaN
40      41          NaN
41      42          NaN
42      43          NaN
43      44          NaN
44      45          NaN
45      46          NaN
46      47          NaN
47      48          NaN
48      49       Holder
49      50          NaN
50      51          NaN
51      52          NaN
52      53          NaN
53      54          NaN
54      55          NaN
55      56          NaN
56      57          NaN
57      58          NaN
58      59        Smith
59      60  Lima-Wilson
60      61      Quinlan
61      62        Rocha
62      63          NaN

[63 rows x 2 columns]