In [1]:
from requests_ntlm import HttpNtlmAuth
import requests
import json
import csv
import sys
import netrc
from datetime import datetime

In [2]:
# get user / password
host = 'torvmpiis8.na.sas.com'
parking_url = 'http://torvmpiis8.na.sas.com/ParkingApp/BookingCalendar/GetBooking'
# Read from the .netrc file in your home directory
secrets = netrc.netrc()
dusername, account, password = secrets.authenticators(host)
#print ("\"" + dusername + "\" \"" + password + "\"")

try:
        bookings = requests.get(parking_url,auth=HttpNtlmAuth(dusername,password))
        bookings.raise_for_status()
except requests.exceptions.HTTPError as err:
        print ("failed to make server connection[parking URL]: " + str(err))
#         sys.exit(1)

        # parse to json and write to csv
data = json.loads(bookings.text)
#spots = data["BList"]

In [47]:
### import pandas as pd
df = pd.read_json(json.dumps(data["BList"]))
df = df[df['date'] >= pd.to_datetime('today')]
df.drop(['bookOrPost','period'],axis=1,inplace=True)
bookings_str = df.transpose().to_json()
df.head(25)
print(bookings_str)

           date                       spot
81   2017-06-05  1 I.Prabucki (DAY       )
82   2017-06-06  1 I.Prabucki (DAY       )
83   2017-06-07  1 I.Prabucki (DAY       )
84   2017-06-08  1 I.Prabucki (DAY       )
85   2017-06-09   1 M.Donadio (DAY       )
390  2017-06-02    6 C.Miceli (DAY       )
970  2017-06-02           24 S.Magill (AM)
971  2017-06-02           24 S.Magill (PM)
972  2017-06-12   24 S.Magill (DAY       )
1389 2017-06-06   33 C.Miceli (DAY       )
1390 2017-06-07   33 C.Miceli (DAY       )
1391 2017-06-08   33 C.Miceli (DAY       )
1392 2017-06-09   33 C.Miceli (DAY       )
1393 2017-06-14   33 C.Miceli (DAY       )

In [52]:
bookings_str = df.transpose().to_dict()
print(bookings_str)

{390: {u'date': Timestamp('2017-06-02 00:00:00'), u'spot': u'6 C.Miceli (DAY       )'}, 1393: {u'date': Timestamp('2017-06-14 00:00:00'), u'spot': u'33 C.Miceli (DAY       )'}, 970: {u'date': Timestamp('2017-06-02 00:00:00'), u'spot': u'24 S.Magill (AM)'}, 971: {u'date': Timestamp('2017-06-02 00:00:00'), u'spot': u'24 S.Magill (PM)'}, 972: {u'date': Timestamp('2017-06-12 00:00:00'), u'spot': u'24 S.Magill (DAY       )'}, 1389: {u'date': Timestamp('2017-06-06 00:00:00'), u'spot': u'33 C.Miceli (DAY       )'}, 1390: {u'date': Timestamp('2017-06-07 00:00:00'), u'spot': u'33 C.Miceli (DAY       )'}, 1391: {u'date': Timestamp('2017-06-08 00:00:00'), u'spot': u'33 C.Miceli (DAY       )'}, 1392: {u'date': Timestamp('2017-06-09 00:00:00'), u'spot': u'33 C.Miceli (DAY       )'}, 81: {u'date': Timestamp('2017-06-05 00:00:00'), u'spot': u'1 I.Prabucki (DAY       )'}, 82: {u'date': Timestamp('2017-06-06 00:00:00'), u'spot': u'1 I.Prabucki (DAY       )'}, 83: {u'date': Timestamp('2017-06-07 00:00:00'), u'spot': u'1 I.Prabucki (DAY       )'}, 84: {u'date': Timestamp('2017-06-08 00:00:00'), u'spot': u'1 I.Prabucki (DAY       )'}, 85: {u'date': Timestamp('2017-06-09 00:00:00'), u'spot': u'1 M.Donadio (DAY       )'}}