In [6]:
import os
import pandas as pd
import json

In [ ]:
# root = "/home/cloud-user/notebooks/parking/"
# path = os.path.join(root, "logs")

# filenames = []

# for path, subdirs, files in os.walk(path):
#     for name in files:
#         print os.path.join(path, name)
#         filenames.append(os.path.join(path, name))

In [ ]:
# df = pd.read_csv("logs/merged.csv")
# df.head()

In [14]:
df = pd.read_csv("logs/merged-Apr102017.csv")

In [15]:
df['time'] = pd.to_datetime(df['time'], format='%Y-%m-%d %H:%M:%S:%f')
df['time'].head()
df['t_hour'] = df['time'].dt.hour
df['t_minute'] = df['time'].dt.minute
df['t_second'] = df['time'].dt.second
# df['t_nanosecond'] = df['time'].dt.nanosecond
df['t_day'] = df['time'].dt.weekday
df['t_month'] = df['time'].dt.month
df['t_year'] = df['time'].dt.year
# df['t_weekday_name'] = df['time'].dt.weekday_name
df.columns

Index([u'guid', u'opcode', u'status', u'spotnum', u'id', u'time', u'payload',
       u't_hour', u't_minute', u't_second', u't_day', u't_month', u't_year'],
      dtype='object')

In [16]:
df['status'].value_counts()
df.drop_duplicates(['id', 't_day','t_month','t_year','t_hour','t_minute', 't_second',
                    'status'],keep='first',inplace=True)
df.head()
# len(df.index)

23078

In [17]:
from datetime import datetime
import re
jdf = pd.DataFrame()

for payload in df['payload']:
    try:
        ndf = pd.DataFrame(json.loads(payload))
        if 'posted_on' in ndf.columns:
            ndf['date'] = pd.to_datetime(map(int, re.findall('\d+', str(ndf['posted_on'])))[1],unit='ms')
            jdf = jdf.append(ndf, ignore_index=True)
        elif 'booked_on'in ndf.columns:
            ndf['date'] = pd.to_datetime(map(int, re.findall('\d+', str(ndf['booked_on'])))[1],unit='ms')
            jdf = jdf.append(ndf, ignore_index=True)
        else
    except ValueError as e:
        print("{0}, \"{1}\"".format(str(e), payload))


#     jdf.append(pd.DataFrame(record))
#     jdf = jdf.append(json_normalize(record), ignore_index=True)
    
jdf.head()

,AM,DAY,PM,book_by,booked,booked_by,booked_by_name,booked_on,date,for_day_period,id,parking_spot,posted_by,posted_on
0,True,True,True,None,NaN,NaN,NaN,NaN,2016-10-07 04:00:00,DAY,1633,59,Shawn Smith,/Date(1475812800000)/
1,True,True,True,None,NaN,NaN,NaN,NaN,2016-10-07 04:00:00,DAY,1633,59,Shawn Smith,/Date(1475812800000)/
2,True,True,True,None,NaN,NaN,NaN,NaN,2016-10-07 04:00:00,DAY,1633,59,Shawn Smith,/Date(1475812800000)/
3,True,True,True,None,NaN,NaN,NaN,NaN,2016-10-07 04:00:00,DAY,1633,59,Shawn Smith,/Date(1475812800000)/
4,True,True,True,None,NaN,NaN,NaN,NaN,2016-10-07 04:00:00,DAY,1633,59,Shawn Smith,/Date(1475812800000)/

In [20]:
jdf.drop_duplicates(['id'],keep='first',inplace=True)
len(jdf)

58

In [30]:
# jdf.drop(['AM','PM','DAY','book_by'],inplace=True,axis=1)
jdf

,booked,booked_by,booked_by_name,booked_on,date,for_day_period,id,parking_spot,posted_by,posted_on
0,NaN,NaN,NaN,NaN,2016-10-07 04:00:00,DAY,1633,59,Shawn Smith,/Date(1475812800000)/
8,True,R881,Muzzammil Nakhuda,/Date(1475812800000)/,2016-10-07 04:00:00,DAY,2349,6,NaN,NaN
9,True,R939,Cynthia Miceli,/Date(1475812800000)/,2016-10-07 04:00:00,DAY,2338,24,NaN,NaN
10,True,R324,Mohammed Faiyaz Nakhuda,/Date(1475812800000)/,2016-10-07 04:00:00,DAY,2384,26,NaN,NaN
11,True,R923,Pat Valente,/Date(1475812800000)/,2016-10-07 04:00:00,DAY,2385,59,NaN,NaN
42,True,R222,Suzanne Barless,/Date(1475812800000)/,2016-10-07 04:00:00,DAY,2386,59,NaN,NaN
43,NaN,NaN,NaN,NaN,2016-10-10 04:00:00,DAY,1619,6,Ron Reed,/Date(1476072000000)/
50,True,R923,Pat Valente,/Date(1476072000000)/,2016-10-10 04:00:00,DAY,2387,6,NaN,NaN
51,True,R551,Patrick Leung,/Date(1476072000000)/,2016-10-10 04:00:00,DAY,2374,24,NaN,NaN
5195,True,R881,Muzzammil Nakhuda,/Date(1476072000000)/,2016-10-10 04:00:00,DAY,2388,6,NaN,NaN
5197,NaN,NaN,NaN,NaN,2016-10-13 04:00:00,DAY,1638,8,Kathryn Welsh,/Date(1476331200000)/
5232,True,R881,Muzzammil Nakhuda,/Date(1476331200000)/,2016-10-13 04:00:00,DAY,2352,6,NaN,NaN
5233,True,R538,Irene Lee Newton,/Date(1476331200000)/,2016-10-13 04:00:00,DAY,2393,8,NaN,NaN
5234,NaN,NaN,NaN,NaN,2016-10-17 04:00:00,DAY,1639,8,Kathryn Welsh,/Date(1476676800000)/
5235,NaN,NaN,NaN,NaN,2016-10-17 04:00:00,DAY,1640,8,Kathryn Welsh,/Date(1476763200000)/
5236,NaN,NaN,NaN,NaN,2016-10-17 04:00:00,DAY,1641,8,Kathryn Welsh,/Date(1476849600000)/
5260,True,R923,Pat Valente,/Date(1476417600000)/,2016-10-14 04:00:00,DAY,2355,6,NaN,NaN
5261,True,R881,Muzzammil Nakhuda,/Date(1476417600000)/,2016-10-14 04:00:00,PM,2397,25,NaN,NaN
5262,NaN,NaN,NaN,NaN,2016-10-14 04:00:00,PM,1642,25,John Tulley,/Date(1476417600000)/
5268,NaN,NaN,NaN,NaN,2016-10-17 04:00:00,DAY,1629,49,Steve Holder,/Date(1476676800000)/
5287,NaN,NaN,NaN,NaN,2016-10-19 04:00:00,DAY,1645,60,Laura Lima-Wilson,/Date(1476849600000)/
5300,True,R823,Rebecca Gill,/Date(1476849600000)/,2016-10-19 04:00:00,DAY,2395,8,NaN,NaN
5301,True,R923,Pat Valente,/Date(1476849600000)/,2016-10-19 04:00:00,DAY,2383,49,NaN,NaN
5302,True,R563,Christopher Carito,/Date(1476849600000)/,2016-10-19 04:00:00,DAY,2406,60,NaN,NaN
5303,NaN,NaN,NaN,NaN,2016-11-22 05:00:00,DAY,1714,59,Shawn Smith,/Date(1479790800000)/
5311,NaN,NaN,NaN,NaN,2016-11-25 05:00:00,DAY,1721,24,Kevin Antram,/Date(1480050000000)/
5312,NaN,NaN,NaN,NaN,2016-11-25 05:00:00,DAY,1723,62,Conan Rocha,/Date(1480050000000)/
6190,True,33897,Geoff Lyons,/Date(1480050000000)/,2016-11-25 05:00:00,DAY,2509,8,NaN,NaN
6191,True,R869,Irene Prabucki,/Date(1480050000000)/,2016-11-25 05:00:00,DAY,2511,24,NaN,NaN
6192,True,R1089,Hanh Huynh,/Date(1480050000000)/,2016-11-25 05:00:00,DAY,2512,62,NaN,NaN
6193,NaN,NaN,NaN,NaN,2016-11-25 05:00:00,DAY,1724,1,Carl Farrell,/Date(1480050000000)/
9194,True,34264,Jay Gunasekaran,/Date(1480050000000)/,2016-11-25 05:00:00,DAY,2513,1,NaN,NaN
23096,NaN,NaN,NaN,NaN,2016-11-28 05:00:00,DAY,1727,25,John Tulley,/Date(1480309200000)/
23099,True,R563,Christopher Carito,/Date(1480309200000)/,2016-11-28 05:00:00,DAY,2514,6,NaN,NaN
23100,True,R324,Mohammed Faiyaz Nakhuda,/Date(1480309200000)/,2016-11-28 05:00:00,DAY,2516,25,NaN,NaN
23101,True,R291,Brigitte Lee,/Date(1480309200000)/,2016-11-28 05:00:00,DAY,2501,27,NaN,NaN
23102,NaN,NaN,NaN,NaN,2016-12-01 05:00:00,DAY,1730,49,Steve Holder,/Date(1480568400000)/
23113,True,R291,Brigitte Lee,/Date(1480568400000)/,2016-12-01 05:00:00,DAY,2503,27,NaN,NaN
23114,True,R324,Mohammed Faiyaz Nakhuda,/Date(1480568400000)/,2016-12-01 05:00:00,DAY,2521,49,NaN,NaN
23115,NaN,NaN,NaN,NaN,2016-12-05 05:00:00,DAY,1735,29,Mike Luke,/Date(1480914000000)/
23116,True,R568,Deanna Grillo,/Date(1480914000000)/,2016-12-05 05:00:00,DAY,2443,6,NaN,NaN
23117,True,34264,Jay Gunasekaran,/Date(1480914000000)/,2016-12-05 05:00:00,DAY,2522,24,NaN,NaN
23118,True,R563,Christopher Carito,/Date(1480914000000)/,2016-12-05 05:00:00,DAY,2525,27,NaN,NaN
23119,True,R324,Mohammed Faiyaz Nakhuda,/Date(1480914000000)/,2016-12-05 05:00:00,DAY,2526,29,NaN,NaN
23120,NaN,NaN,NaN,NaN,2016-12-05 05:00:00,DAY,1736,2,Kerry Tompson,/Date(1480914000000)/
23121,True,R1024,Jill Parsonage,/Date(1480914000000)/,2016-12-05 05:00:00,DAY,2527,2,NaN,NaN
23126,NaN,NaN,NaN,NaN,2016-12-05 05:00:00,DAY,1737,49,Steve Holder,/Date(1480914000000)/
23127,NaN,NaN,NaN,NaN,2016-12-05 05:00:00,DAY,1738,9,Steven Kelly,/Date(1480914000000)/
23160,NaN,NaN,NaN,NaN,2016-12-09 05:00:00,DAY,1741,39,Connie Derry,/Date(1481259600000)/
23161,NaN,NaN,NaN,NaN,2016-12-09 05:00:00,DAY,1742,59,Shawn Smith,/Date(1481259600000)/
23162,NaN,NaN,NaN,NaN,2016-12-20 05:00:00,DAY,1757,16,Kitty Kwan,/Date(1482210000000)/
23163,NaN,NaN,NaN,NaN,2016-12-22 05:00:00,DAY,1761,59,Shawn Smith,/Date(1482382800000)/
23164,True,R1024,Jill Parsonage,/Date(1482382800000)/,2016-12-22 05:00:00,DAY,2546,9,NaN,NaN
23165,True,R291,Brigitte Lee,/Date(1482382800000)/,2016-12-22 05:00:00,DAY,2562,25,NaN,NaN
23166,True,R939,Cynthia Miceli,/Date(1482382800000)/,2016-12-22 05:00:00,DAY,2563,59,NaN,NaN
23167,NaN,NaN,NaN,NaN,2017-01-05 05:00:00,DAY,1773,49,Steve Holder,/Date(1483592400000)/
23168,NaN,NaN,NaN,NaN,2017-03-16 04:00:00,DAY,1887,33,Amanda Holden,/Date(1489636800000)/
23169,NaN,NaN,NaN,NaN,2017-03-16 04:00:00,DAY,1876,49,Steve Holder,/Date(1489636800000)/