In [ ]:
from datetime import datetime
import numpy as np
import pandas as pd

### Build our date range

In [39]:
start_dt = datetime(2015, 8, 24)
end_dt = pd.to_datetime(datetime(2017,4,25))
rng_df = pd.DataFrame(pd.bdate_range(start_dt, end_dt), columns=['Date'])
# print("Number of days: {}".format(rng_df.count()))
rng_df.head()

        Date
0 2015-08-24
1 2015-08-25
2 2015-08-26
3 2015-08-27
4 2015-08-28

In [40]:
spot_range = pd.DataFrame(pd.Series(np.arange(1,63)), columns=['SpotId']) # 62 items
spot_range.head()

   SpotId
0       1
1       2
2       3
3       4
4       5

In [41]:
date_and_spot = pd.merge(rng_df.assign(key=0), spot_range.assign(key=0), on='key').drop('key', axis=1)
date_and_spot.tail()

            Date  SpotId
27089 2017-04-25      58
27090 2017-04-25      59
27091 2017-04-25      60
27092 2017-04-25      61
27093 2017-04-25      62

In [ ]:
# date_and_spot = date_and_spot.set_index(['SpotId','Date'])
# date_and_spot.tail()

In [42]:
import csv
df = pd.read_csv("spots.csv")
df['datetime'] = pd.to_datetime(df['date'], format='%Y-%m-%d')
df = df.rename(index=str, columns={'pspot': 'SpotId', 'datetime':'Date'})
df = df.drop('date', axis=1)
df.tail(3)

,SpotId,name,bookOrPost,period,spot,Date
1808,62,J.Mulett,B,DAY,62 J.Mulett (DAY ),2017-04-06
1809,62,M.Faiyaz,B,DAY,62 M.Faiyaz Nakhuda (DAY ),2017-04-12
1810,62,M.Faiyaz,B,DAY,62 M.Faiyaz Nakhuda (DAY ),2017-04-13

In [43]:
join_df = pd.merge(date_and_spot, df, how='outer',on=['Date','SpotId'])
join_df.tail(15)

            Date  SpotId      name bookOrPost period                      spot
27112 2017-04-25      48       NaN        NaN    NaN                       NaN
27113 2017-04-25      49  D.Grillo          B    DAY  49 D.Grillo (DAY       )
27114 2017-04-25      50       NaN        NaN    NaN                       NaN
27115 2017-04-25      51       NaN        NaN    NaN                       NaN
27116 2017-04-25      52       NaN        NaN    NaN                       NaN
27117 2017-04-25      53       NaN        NaN    NaN                       NaN
27118 2017-04-25      54       NaN        NaN    NaN                       NaN
27119 2017-04-25      55       NaN        NaN    NaN                       NaN
27120 2017-04-25      56       NaN        NaN    NaN                       NaN
27121 2017-04-25      57       NaN        NaN    NaN                       NaN
27122 2017-04-25      58       NaN        NaN    NaN                       NaN
27123 2017-04-25      59       NaN        NaN    NaN                       NaN
27124 2017-04-25      60       NaN        NaN    NaN                       NaN
27125 2017-04-25      61       NaN        NaN    NaN                       NaN
27126 2017-04-25      62       NaN        NaN    NaN                       NaN